body {
  font-family: Arial, Helvetica, sans-serif;
}
/**/
.task,
.dateout {
  font-size: large;
}

.addbtn {
  border: none;
  padding: 10px 35px;
  background-color: green;
  color: white;
  font-size: medium;
}

.date {
  padding: 5px;
  font-size: large;
}

.dateout {
  color: black;
}

.textin {
  padding: 6px;
  font-size: medium;
}

.listrow,
.ingrid {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  align-items: center;
}
.del {
  border: none;
  background-color: darkred;
  padding: 10px 0px;
  color: white;
  font-size: medium;
  display: inline-block;
  text-align: center;
}
